.about-wrapper {
  margin-top: 20%;
}
.welcome-message {
  text-align: center;
}
.inline-a {
  color: white;
}
.welcome-info {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  color: white;
}
.film-reel-icon {
  display: block;
  margin: 0 auto;
}

#return-home-btn{
  border: none;
  background-color: white;
  border-radius: 5%;
  margin: 15px;
  padding: 5px 30px 5px 30px;
}

// The arrow is red for now so it's easier to see when switching background colors. Will change to either black or white
.arrow {
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin:10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
