footer {
  display: block;
  text-align: center;
  background-color: black;
  padding: 10px;
  height: 100px;
  flex-shrink: 1;
  font-family: "Manrope", sans-serif;
  color: white;
}

.github-link {
  &:hover {
    color: #f9187c;
    text-shadow: 2px 2px 15px #fddae9;
  }
}
