footer {
  display: block;
  text-align: center;
  background-color: black;
  color: white;
  //margin-top: 40%;
  padding: 10px;
  height: 100px;
  flex-shrink: 1;
}

.github-link{
  &:hover{
    color: #F9187C;
    text-shadow: 2px 2px 15px #fddae9;
  }
}
