header {
  position: relative;
  a {
    text-shadow: 2px 2px 5px #fddae9;
    color: black;
    margin: 15px;
    font-size: 50px;
  }
  a:hover {
    color: #f9187c;
    transition: ease-in-out all 250ms;
  }

  // Underline hover effect //
  h1 > a {
    text-decoration: none;
    color: white;
    z-index: 1;
  }

  h1 > a:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    bottom: 0;
    left: 22px;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.25s linear;
  }
  h1 > a:hover:before,
  h1 > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }
  h1 a:before {
    background: #f9187c;
    box-shadow: 0 0 10px 2px #fddae9;
  }
}
.header-content {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.img-banner {
  width: 100%;
  max-width: 1400px;
  filter: opacity(80%);
  z-index: -1;
}

@media (min-width: 1300px) {
  .banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
