@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");

main {
  z-index: 999999;
  background-color: black;
}
// class names //
.featured-movies {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
}

.sort-movies {
  margin-left: 15px;
}
.movie-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  border-radius: 10px;
  background-color:  rgba(75, 75, 75, 0.673);
  // box-shadow: 0 2px 2px rgba(200, 200, 200, 0.03),
  //   0 6px 5px rgba(200, 200, 200, 0.05), 0 12px 10px rgba(200, 200, 200, 0.06),
  //   0 22px 17px rgba(67, 67, 67, 0.07), 0 30px 28px rgba(200, 200, 200, 0.08),
  //   0 90px 70px rgba(200, 200, 200, 0.1);
  box-shadow: 0px 0px 12px 0px #F9187C;
  max-width: 380px;
  max-height: 270px;
  overflow: hidden;
  color: white;
  h5 {
    font-size: 1.35em;
    font-weight: 600;
  }
}

.more-info-link {
  color: white;

  &:hover{
    color: #F9187C;
    text-shadow: 2px 2px 15px #fddae9;
  }
}

//not working for some reason
.fav-heart{
  text-shadow: 2px 2px 15px #fddae9;
}

.no-poster-image,
.movie-image {
  max-width: 180px;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.movie-image{
  opacity: 0.8;
}
.overview {
  margin: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
}
.fa-star {
  //color: #fec810;
  color: #fafe10;
}

.select-btn {
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: rgba(75, 75, 75, 0.673);
  margin: 20px;
  padding: 10px 20px;
  a:hover {
    color: #ffffff;
    font-size: 18px;
  }
}

// id's //
#sort-by {
  padding: 8px 15px;
  margin-left: 5px;
  border-radius: 6px;
  border: none;
}

// DESKTOP VIEW //
@media (min-width: 400px) {
  .featured-movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
