// Main and Page title //
main {
  // z-index: -1;
  background-color: black;
  padding: 15px;
}
.current-page-title {
  display: block;
  text-align: center;
  margin: 50px auto;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #f9187c;
  width: 100%;
  max-width: 1200px;
}

// Main container that holds ALL the movies//
.featured-movies {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
}
@media (min-width: 400px) {
  .featured-movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
// container that holds SINGLE movie details //
.movie-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  border-radius: 10px;
  background-color: rgba(75, 75, 75, 0.673);
  box-shadow: 0px 0px 12px 0px #f9187c;
  max-width: 380px;
  height: 300px;
  color: white;
  font-family: "Manrope", sans-serif;
  h5 {
    font-size: 1.35em;
    font-weight: 600;
  }
}

// elements within in the single movie container //
.release-date {
  position: absolute;
  left: 15px;
  bottom: 0;
  margin-bottom: 0;
  padding: 5px;
  font-size: smaller;
  color: white;
}

.more-info-link {
  position: absolute;
  bottom: 10px;
  right: 75px;
  color: transparent;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #f9187c;
  color: white;
  text-align: center;

  &:hover {
    text-shadow: 2px 2px 15px #fddae9;
    color: #f9187c;
  }
}

.no-poster-image,
.movie-image {
  max-width: 180px;
  height: 270px;
  border-radius: 10px 0 0 0px;
}

.movie-image {
  opacity: 0.8;
}

.overview {
  margin: 10px;
  font-size: 12px;
}

.fa-star {
  color: #fafe10;
}

//sidebar lines //
@media (min-width: 1500px) {
  .vl-left,
  .vl-right {
    display: block;
    position: fixed;
    top: 30px;
    border-left: 5px solid #fddae9;
    box-shadow: 0px 2px 15px 0px #f9187c;
    border-radius: 10px;
    height: 90%;
  }
  .vl-left {
    left: 30px;
  }
  .vl-right {
    right: 30px;
  }
}

// Scroll to top button //
.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 20px;

  @media (min-width: 1200px) {
    right: 50px;
  }
  &:hover {
    filter: saturate(50%);
    box-shadow: 0px 2px 15px 0px #f9187c;
    border-radius: 30px;
    padding: none;
  }
}
