

// Font
main {
  color: white;
  margin: 40px;
}

.movie-poster-individual {
    height: 900px;
    width:500px;
    overflow:hidden;
}

.movie-individual-container {
  display: flex;
  padding-left: 30px;
  margin-left: 40px;
  justify-content: space-around;
}