a {
  color: #ffffff;
}

// class names //
.nav-wrapper {
  display: flex;
  justify-content: space-between;
}
.nav-bar {
  display: none;
}
.hamburger-btn {
  display: inline-block;
  margin: 15px 10px;
}

// hover states //
a:hover {
  text-decoration: underline;
}

// MEDIA QUERIES //
@media (min-width: 520px) {
  .nav-bar {
    display: block;
  }
  .hamburger-btn {
    display: none;
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-bar {
    display: flex;
  }
}
