html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  z-index: -3;
  margin: 0;
  background-color: black;
}
h1 {
  display: inline-block;
  font-family: "Comfortaa", cursive;
  color: #ffffff;
}
h3 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}
